body {
  background-color: #f29a0d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("./img/bg.png") no-repeat center center/cover;
}

.container {
  max-width: 297px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.logo {
  width: 170px;
  height: 170px;
  transform: rotate(-135deg);
}

.loader {
  width: 38px;
  height: 38px;
  position: relative;
}

.loader::before,
.loader::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid transparent;
}

.loader::before {
  border-color: #e8e9f1;
}

.loader::after {
  border-color: #494a50;
  clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%);
  transform: rotate(45deg);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(405deg);
  }
}
